@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&amp;family=Roboto:wght@400;500&amp;family=Zen+Kaku+Gothic+New:wght@400;500&amp;display=swap');
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
* {
    box-sizing: border-box;
}



html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1;
  border-top: solid 0.5rem #acacac;
  background: #080d1b;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  color: #acacac;
  overflow-x: hidden;
}
body.overflow-hidden {
  overflow: hidden;
}

a {
  color: #acacac;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a.link {
  color: #0568d6;
  text-decoration: underline;
}
a.link:hover, a.link:active, a.link:focus, a.link:focus-within {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1267px) {
  html {
    font-size: 0.8vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) and (max-width: 1267px) {
  html {
    font-size: 0.8vw;
  }
}
@media screen and (max-width: 767px) {
  body {
    border-top: none;
  }
}
/* --------------------------------------------------------------------------

---- Common

-------------------------------------------------------------------------- */


.section-title {
  @apply text-[4.8rem] font-medium leading-[0.9] text-white mb-24 border-b-[10px] border-solid;
  font-family: "Rajdhani", sans-serif;
  -o-border-image: linear-gradient(to right, #211722 0%, #234384 100%);
  border-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#211722),
    to(#234384)
  );
  border-image: linear-gradient(to right, #211722 0%, #234384 100%);
  border-image-slice: 1;
  text-shadow: 0 1px 20px rgba(255, 255, 255, 0.8);
}
.list-box--col-3 .list-box__item--thumb--btn::before {
  z-index: 10;
  background: #080d1b url(./images/common/ico_eye.svg) no-repeat center/2rem;
}

.loading-overlay {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading-overlay.hidden {
  display: none;
}
.loading-overlay__spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}
.loading-overlay__spinner--path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  stroke: #080d1b;
  -webkit-animation: dash 1.4s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite;
  stroke: #ffffff;
}

/* --------------------------------------------------------------------------

---- Input 

-------------------------------------------------------------------------- */
.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0 0;
  cursor: pointer;
}
.check-box.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.check-box__marker {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-perspective: 20;
          perspective: 20;
}
.check-box__marker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border: solid 0.2rem rgba(172, 172, 172, 0.3);
  border-radius: 0.4rem;
}
.check-box__marker::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 0.4rem;
  background: #acacac url(./images/common/ico_check.svg) no-repeat center/1.2rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.check-box__input {
  width: 0;
  margin: 0;
  opacity: 0;
}
.check-box__input:checked + .check-box__marker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border: solid 0.2rem rgba(172, 172, 172, 0.3);
  border-radius: 0.4rem;
}
.check-box__input:checked + .check-box__marker::after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.check-box__title {
  font-size: 1.4rem;
  margin-left: 1rem;
}
.check-box__val {
  margin-left: auto;
}

.input-box {
  width: 100%;
  position: relative;
}
.input-box__item {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2.4rem 1.5rem 1rem 1.5rem;
  border: solid 2px #ffffff;
  border-radius: 0.8rem;
  outline: none;
  background: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #acacac;
  font-weight: 600;
}
.input-box__item:hover, .input-box__item:active, .input-box__item:focus, .input-box__item:focus-within {
  border: solid 2px rgba(172, 172, 172, 0.3);
  background: #080d1b;
  color: #acacac;
}
.input-box__item:not(:-moz-placeholder-shown) + label {
  transform: translateY(-120%) scale(0.75);
}
.input-box__item:not(:-ms-input-placeholder) + label {
  transform: translateY(-120%) scale(0.75);
}
.input-box__item:focus + label, .input-box__item:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-120%) scale(0.75);
          transform: translateY(-120%) scale(0.75);
}
.input-box__label {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  color: #acacac;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

/* --------------------------------------------------------------------------

---- Breadcrumb

-------------------------------------------------------------------------- */
.bg-arw_right:after {
  background: url(./images/common/arw_right.svg) no-repeat center/contain;
}

/* --------------------------------------------------------------------------

---- Accordion 

-------------------------------------------------------------------------- */
.ac-summary::before {
  background: url(./images/common/arw_down.svg) no-repeat center/1.2rem;
}

.side-summary::after {
  background: url(./images/common/arw_down.svg) no-repeat center/1.2rem;
}
.side-summary--head {
  font-family: "Avenir Next", sans-serif;
}

@media screen and (max-width: 767px) {
  /* --------------------------------------------------------------------------

  ---- Common

  -------------------------------------------------------------------------- */
  .section-title {
    font-size: 3.6rem;
    margin-bottom: 4rem;
    border-bottom: 6px solid;
    text-shadow: 0 1px 10px rgba(255, 255, 255, 0.8);
  }
  .swiper .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .swiper .swiper-wrapper .swiper-slide {
    margin-right: 0;
  }
  .swiper .swiper-pagination {
    position: static;
    text-align: center;
    margin-top: 2rem;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 1rem !important;
    background: #acacac;
  }
  .loading-overlay {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .loading-overlay.hidden {
    display: none;
  }
  .loading-overlay__spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
  }
  .loading-overlay__spinner--path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    stroke: #080d1b;
    -webkit-animation: dash 1.4s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite;
    stroke: #ffffff;
  }
  .modal .product-slider {
    top: 0;
  }
}
/* --------------------------------------------------------------------------

---- ヘッダー

-------------------------------------------------------------------------- */


.header-bottom .search-form__item--input {
  background: #ffffff url(./images/common/ico_search.svg) no-repeat left 1.5rem center/2rem;
}
.header-bottom .search-form__item--input:hover, .header-bottom .search-form__item--input:active, .header-bottom .search-form__item--input:focus, .header-bottom .search-form__item--input:focus-within {
  background: #080d1b url(./images/common/ico_search.svg) no-repeat left 1.5rem center/2rem;
}
.header-bottom .search-form__item--input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-120%) scale(0.75);
}
.header-bottom .search-form__item--input:not(:-ms-input-placeholder) + label {
  transform: translateY(-120%) scale(0.75);
}
.header-bottom .search-form__item--input:focus + label, .header-bottom .search-form__item--input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-120%) scale(0.75);
          transform: translateY(-120%) scale(0.75);
}
.header .mobile-hamburger,
.header .mobile-cart-btn,
.header .mobile-nav,
.header .mobile-search-form,
.header .mobile-close {
  display: none;
}

.front .header .header-bottom .vertical-menu {
  pointer-events: none;
  border-radius: 0.8rem 0.8rem 0 0;
}
.front .header.is-fixed .header-bottom .vertical-menu {
  pointer-events: all;
  border-radius: 0.8rem;
}
.front .header.is-fixed .header-bottom .vertical-menu.close {
  border-radius: 0.8rem 0.8rem 0 0;
}

@media screen and (max-width: 767px) {
  
.header .mobile-search-form .search-form__item--input {
  background: #ffffff url(./images/common/ico_search.svg) no-repeat left 1.5rem center/2rem;
}
.header .mobile-search-form .search-form__item--input:hover, .header .mobile-search-form .search-form__item--input:active, .header .mobile-search-form .search-form__item--input:focus, .header .mobile-search-form .search-form__item--input:focus-within {
  background: #080d1b url(./images/common/ico_search.svg) no-repeat left 1.5rem center/2rem;
}
.header .mobile-search-form .search-form__item--input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-120%) scale(0.75);
}
.header .mobile-search-form .search-form__item--input:not(:-ms-input-placeholder) + label {
  transform: translateY(-120%) scale(0.75);
}
.header .mobile-search-form .search-form__item--input:focus + label, .header .mobile-search-form .search-form__item--input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-120%) scale(0.75);
          transform: translateY(-120%) scale(0.75);
}
  .header .mobile-hamburger,
  .header .mobile-cart-btn,
  .header .mobile-nav,
  .header .mobile-search-form,
  .header .mobile-close {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer-box__item--head::before {
    background: url(./images/common/arw_down.svg) no-repeat center/1.2rem;
  }
}

.collection-head__sort::after {
  background: url(./images/common/arw_down.svg) no-repeat center/contain;
}
.collection-head__sort--btn:focus + .collection-head__sort__list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.collection-head__state__tag a::after {
  background: url(./images/common/ico_close.svg) no-repeat center/contain;
}
.collection-box__item--btn span {
  background: url(./images/common/ico_cart_white.svg) no-repeat left center/2rem;
}

/* --------------------------------------------------------------------------

---- Product 

-------------------------------------------------------------------------- */


.product-detail__description {
  margin-top: 6rem;
}
.product-detail__description > * {
  line-height: 1.45;
}
.product-detail__description h1,
.product-detail__description h2 {
  margin: 4rem 0;
}
.product-detail__description h1 {
  font-size: 3.6rem;
}
.product-detail__description h2 {
  font-size: 3rem;
}
.product-detail__description h3 {
  font-size: 2.4rem;
}
.product-detail__description h4 {
  font-size: 2rem;
}
.product-detail__description h5 {
  font-size: 1.6rem;
}
.product-detail__description h6 {
  font-size: 1.4rem;
}
.product-detail__description h3,
.product-detail__description h4,
.product-detail__description h5,
.product-detail__description h6 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.product-detail__description p {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
.product-exp__summary::after {
  background: url(./images/common/arw_down.svg) no-repeat center/1.2rem;
}
@media screen and (max-width: 767px) {
  .collection-empty {
    margin: 10rem 0;
  }
  .collection-empty__title {
    font-size: 2.2rem;
  }
  .mobile-filter__nav--item .filter-open.is-active + .filter-detail {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-filter__select--input {
    background: #ffffff url(./images/common/arw_down.svg) no-repeat right 1.5rem center/1.2rem;
  }
  .mobile-filter__select--input:hover, .mobile-filter__select--input:active, .mobile-filter__select--input:focus, .mobile-filter__select--input:focus-within {
    border: solid 2px rgba(172, 172, 172, 0.3);
    background: #080d1b;
  }
  .mobile-filter__select--input:focus + label, .mobile-filter__select--input:not(:placeholder-shown) + label {
    -webkit-transform: translateY(-140%) scale(0.75);
            transform: translateY(-140%) scale(0.75);
  }
  /* --------------------------------------------------------------------------

  ---- Product SP

  -------------------------------------------------------------------------- */

  .product-detail__description {
    margin-top: 4rem;
  }
  .product-detail__description h1,
  .product-detail__description h2 {
    margin: 3rem 0;
  }
  .product-detail__description h1 {
    font-size: 3rem;
  }
  .product-detail__description h2 {
    font-size: 2.6rem;
  }
  .product-detail__description h3 {
    font-size: 2rem;
  }
  .product-detail__description h4 {
    font-size: 1.8rem;
  }
  .product-detail__description h5 {
    font-size: 1.6rem;
  }
  .product-detail__description h6 {
    font-size: 1.6rem;
  }
  .product-detail__description h3,
  .product-detail__description h4,
  .product-detail__description h5,
  .product-detail__description h6 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .product-detail__description p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .product-exp__summary::before {
    display: none;
  }
}
/* --------------------------------------------------------------------------

---- Cart Drawer

-------------------------------------------------------------------------- */


.cart-drawer.is-open {
  visibility: visible;
  opacity: 1;
}
.cart-drawer.is-open .cart-drawer__empty {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.cart-drawer.is-open {
  visibility: visible;
  opacity: 1;
}
.cart-drawer.is-open .cart-drawer__content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.cart-drawer__item--detail .cart__quantity--val:hover, .cart-drawer__item--detail .cart__quantity--val:active, .cart-drawer__item--detail .cart__quantity--val:focus, .cart-drawer__item--detail .cart__quantity--val:focus-within {
  color: #acacac;
  border: solid 2px rgba(172, 172, 172, 0.3);
  background: #080d1b;
}
.cart-drawer__item--detail .cart__quantity--button:hover, .cart-drawer__item--detail .cart__quantity--button:active, .cart-drawer__item--detail .cart__quantity--button:focus, .cart-drawer__item--detail .cart__quantity--button:focus-within {
  opacity: 1;
}

.cart-drawer__item--detail .cart__quantity--input::-webkit-outer-spin-button, .cart-drawer__item--detail .cart__quantity--input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.cart-drawer__request .request-summary:hover::before, .cart-drawer__request .request-summary:active::before, .cart-drawer__request .request-summary:focus::before, .cart-drawer__request .request-summary:focus-within::before {
  opacity: 1;
}
.request-summary::before {
  content: "";
  position: absolute;
  top: 3.8rem;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.4;
  background: url(/images/common/arw_down.svg) no-repeat center/1.2rem;
}
.request-content__input {
  display: block;
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 2.4rem 1.5rem 1.7rem 1.5rem;
  resize: vertical;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #acacac;
  border: none;
  border: solid 2px #ffffff;
  border-radius: 0.8rem;
  outline: none;
  background: #ffffff;
}
.request-content__input:hover, .request-content__input:active, .request-content__input:focus, .request-content__input:focus-within {
  padding: 2.4rem 1.5rem 1rem 1.5rem;
  color: #acacac;
  border: solid 2px rgba(172, 172, 172, 0.3);
}
.request-content__input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-120%) scale(0.75);
}
.request-content__input:not(:-ms-input-placeholder) + label {
  transform: translateY(-120%) scale(0.75);
}
.request-content__input:focus + label, .request-content__input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-120%) scale(0.75);
          transform: translateY(-120%) scale(0.75);
}


@media screen and (max-width: 767px) {
  /* --------------------------------------------------------------------------

  ---- Cart Drawer SP

  -------------------------------------------------------------------------- */

  .cart-drawer__item--thumb img {
    height: auto;
    aspect-ratio: 1/1;
    display: block;
    border-radius: 0.8rem;
  }
}
@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}